@tailwind base;
@tailwind components;
@tailwind utilities;

/* .bg-white {
  background-color: #fff;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  /* @apply bg-white; */
  color: rgb(var(--foreground-rgb));
  background: rgb(50, 44, 62);
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Set your desired background color */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.nav-container.transparent {
  background-color: rgba(255, 255, 0, 0.5); /* Set your desired transparent background color */
}

.full-height {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}